<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.requestLegacyExternalStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalorieDiary"
        tools:targetApi="31">
        <activity
            android:name=".Bmi_Calc.OptionForBmi"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".RecyclerView.Breakfast_RecyclerView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_recyclerview" />

        <activity
            android:name=".RecyclerView.Lunch_RecyclerView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_recyclerview" />

        <activity
            android:name=".RecyclerView.Dinner_RecyclerView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_recyclerview" />

        <!--
        <activity
            android:name=".Recycler_View.item_layout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_item_layout" />
            -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Coming_Soon"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".Api_Refactored.Camera"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Api_Refactored.MainActivity2"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Info"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Calorie_Homepage"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bmi_Calc.Enter_Weight"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bmi_Calc.Enter_Height"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Creating_Account_And_Login.Login"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Database.Database"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Creating_Account_And_Login.Create_Account"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Creating_Account_And_Login.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>